<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Post</title>
        <style>
            .post {
                display: flex;
                flex-direction: column;
                gap: 5px;
            }
            .content {
                width: 350px;
                height: 200px;
                vertical-align: top;
                text-align: left;
                padding: 8px 12px;
                box-sizing: border-box;
            }
        </style>
    </head>
    <body>
        <a href="./homepage.html">
            <button type="button">Home</button>
        </a>
        <form action="/create" class="post">
            <label for="title">Title</label>
            <input id="title" name="title" style="width: 300px;">
            <label for="content">Content</label>
            <textarea id="content" name="content" class="content"></textarea>
            <button type="submit" style="width: 150px; height: 30px;">Publish</button>
        </form>
    </body>
</html>